
a , li{
    text-decoration: none;
    list-style: none;
    color: white;
} 

body{
    font-family: "Manrope", sans-serif;
}


.img-log{
    width: 120px;
}

.communication .fs-7{
    font-size: 12px;
}

    .communication .fs-8{
        font-size: 10px;
        font-weight: bold;
    }


.con-1{
    background-image: url(../img/farmel.png);
    background-size: cover;
    background-position: 10% ;
    position: relative;
    z-index: -100;
}



.titel-farmel{
    font-family: "Covered By Your Grace", cursive ;
    font-size: 120px;
}


.boll{
    border: solid #ffffff 2px;
    width: 66px;
    height: 66px;


}
.bolll{
    border: solid #ffffff46 2px;

}

.ef li{
    list-style-image: url(../img/e.svg);
    margin-bottom:15px;

}
.fr{
    background-color: #24231D;
}
.m{
position: relative;
}
.m::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 75px;
    border-bottom: #4BAF47 solid 2px ;
    /* border-top-right-radius: 50%; 
    border-bottom-right-radius: 50%; */
}
.m::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 80px;
    width: 5px;
    border-bottom: #4BAF47 solid 2px ;
    border-radius: 50%;

}


.magen-{
    margin-top: -16%;
    border: solid white 10px;
}


.bg-gradient{
    background: linear-gradient(0deg, rgb(155, 13, 13) 52%, rgba(248,247,240,1) 53%);
    }
.mmm{
    transform: translate( 0 , 40%);

}

.ww{
    width: 270px;
}
.www{
    width: 200px;
    background-color: #EEC044;
    transform: translate(140% , 120%);

}


.www::before{
    content: "";
    /* border-top: 30px rgb(242, 228, 242) solid ; */
    border-left: 40px rgba(23, 34, 121, 0) solid ;
    border-bottom: 20px   #EEC044    solid ;
    /* border-right: 40px black solid  ; */
    transform:translate(365% , 630%) rotate(270deg);

}

.imgs{
    background-image: url(../img/w.png);
    background-size: cover;
}




.ro1{
    background-image: url(../img/div.master-news.png);
    background-size: cover;
}
.ro2{
    background-image: url(../img/div.master-news\ \(1\).png);
    background-size: cover;
}

.mt4{
    margin-top: 350px;
}
.mmmm{
    transform: translate( 0 , -40%);
    position: relative;
    z-index: 200;

}
.z-1{
    z-index: 0;
}
.z-0{
    z-index: 1000;
}


.uyt{
    background-color: #1F1E17;
}